@import url(http://fonts.googleapis.com/css?family=Exo+2:400,300,200);
@font-face {
    font-family: NavFont; /*a name to be used later*/
    src: url("fonts/ExoThin.otf") format("opentype");
}

body {
    background-color:#000000;
    margin:0;
    padding:0;
}

a:link {color:#694AFF}
a:visited {color:#AF9EFF}
a:active {color: #7357FF}

/* Page title */
h1 {color: #B50000}
/* Main title */
h2 {
    color: white;
    font-size: 300%;
    vertical-align: text-top;
}
hr {color:#7B4500}

font.darkbg {color:#FFD175}
font.lightbg {color:#3C5693}

/* show borders for debugging */
/* 
 * div {border: 1px dotted gray; padding: 0}
 *  */

/* Main div sections */
#wrapper {
    margin: 0px auto;
    padding: 0;
    overflow: hidden;
}

#banner {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100px;
    width: 100%;
    margin: 0;
    padding-top: 0;
    padding-left: 100px;
    background-image: url("images/bannermain.jpg");
    background-repeat: no-repeat;
    background-color: black;
    font-family: 'Exo 2', serif;
    z-index:10;
}

#nav {
    position: fixed;
    top: 100px;
    left: 0px;
    width: 200px;
    bottom: 0px;
    margin: 0;
    background-color:#262626;
    text-align:left;
    font-family: 'Exo 2', sans-serif;
}

#content {
    position: absolute;
    top: 100px;
    left: 200px;
    right: 400px;
    padding: 20px;
    background-color: white;
    text-align: left;
    margin-left: 0;
    margin-right: auto;
    z-index: 5;
}
#photobar {
    position: fixed;
    top: 100px;
    right: 0px;
    width: 400;
    margin: 0;
    padding: 0;
    background-color: black;
}

/* Navigation List Setup */
#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none
}
#nav li {
    margin: 0;
    padding: 0;
    border-top: 1px solid gray;
    width: 100%;
    display: block
}
#navsub ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    border: none
}
#navsub li {
    margin: 0;
    padding-left: 20px;
    border-top: 1px solid gray;
    width: 90%;
    display: block
}
